@import url("/components/sidebar/sidebar.css");

body{
    color: black;
    background: rgb(255,255,255);
    background: radial-gradient(circle,
     rgba(255,255,255,0.3561799719887955) 0%,
      rgba(0,0,0,0.11248249299719892) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 0.75em;
}
body::-webkit-scrollbar-track{
    background: #c0c0ce;
}

body::-webkit-scrollbar-thumb{
    background: #3a3a49;
}


